In [1]:
import os
import sys
import pandas as pd
import requests
from igdb.wrapper import IGDBWrapper
import json
import matplotlib.pyplot as plt
sys.path.append("/Users/antonis/code/Ant-mel/legendary_game_recs/")
from preprocessing.preprocess_1_cleaning import *

In [5]:
game_df= pd.read_json('../raw_data/final_data')

In [6]:
list_of_game_id = game_df['game_id']
list_of_game_id[0]

123757

In [15]:
def get_list_of_features(the_json):
    feature_dic = {"id":None,
        "aggregated_rating": None,
        "aggregated_rating_count": None,
        "game_engines": None,
        "game_modes": None,
        "player_perspectives": None,
        'multiplayer_modes': None,
        "themes": None,
        'rating': None,
        'franchise': None,
        'franchises': None,
        'storyline': None}

    for key in the_json.keys():
        if type(the_json[key]) == list:
            for i in range(len(the_json[key])):
                value = the_json[key][i]['name']
                feature_dic.update({f'{key}': value})

        else:
            value = the_json[key]
            feature_dic.update({f'{key}': value})

    return feature_dic

In [29]:
CLIENT_ID = os.getenv("CLIENT_ID")
CLIENT_SECRET = os.getenv("CLIENT_SECRET")
GRANT_TYPE = os.getenv("GRANT_TYPE")

response = requests.post(f'https://id.twitch.tv/oauth2/token?client_id={CLIENT_ID}&client_secret={CLIENT_SECRET}&grant_type={GRANT_TYPE}')
response_json = response.json()
ACCESS_TOKEN = response_json['access_token']


#This is a wrapper from IGDB just for their API
wrapper = IGDBWrapper(CLIENT_ID, ACCESS_TOKEN)

no_data = []
list_sons = []

for game in list_of_game_id[10000:10020]:
    try:
        the_feat = json.loads(wrapper.api_request('games',
                f'fields franchise, franchises, storyline, aggregated_rating,aggregated_rating_count, game_engines.name, game_modes.name, multiplayer_modes, player_perspectives.name, themes.name, rating; where id = {int(game)};'))
        list_sons.append(the_feat[0])

    except:
        print('fail')
        no_data.append(game)

In [30]:
pd.DataFrame(list_sons)

,id,game_modes,multiplayer_modes,rating,themes,player_perspectives,aggregated_rating,aggregated_rating_count,game_engines,storyline,franchises
0,105001,"[{'id': 1, 'name': 'Single player'}]",[8936],69.904124,"[{'id': 35, 'name': 'Kids'}]",NaN,NaN,NaN,NaN,NaN,NaN
1,108306,"[{'id': 1, 'name': 'Single player'}]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,136820,NaN,NaN,NaN,NaN,"[{'id': 2, 'name': 'Third person'}]",NaN,NaN,NaN,NaN,NaN
3,79996,"[{'id': 1, 'name': 'Single player'}]",NaN,79.843641,NaN,"[{'id': 3, 'name': 'Bird view / Isometric'}]",70.000000,1.0,NaN,NaN,NaN
4,109029,"[{'id': 1, 'name': 'Single player'}, {'id': 2,...",NaN,21.173172,"[{'id': 1, 'name': 'Action'}, {'id': 17, 'name...","[{'id': 2, 'name': 'Third person'}]",NaN,NaN,NaN,NaN,NaN
5,132184,"[{'id': 1, 'name': 'Single player'}]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,221449,"[{'id': 1, 'name': 'Single player'}]",NaN,NaN,"[{'id': 43, 'name': 'Mystery'}]","[{'id': 3, 'name': 'Bird view / Isometric'}]",NaN,NaN,"[{'id': 305, 'name': 'RPG Maker'}]",NaN,NaN
7,105011,"[{'id': 1, 'name': 'Single player'}]",NaN,40.000000,"[{'id': 1, 'name': 'Action'}, {'id': 27, 'name...","[{'id': 1, 'name': 'First person'}]",NaN,NaN,NaN,NaN,NaN
8,104866,"[{'id': 1, 'name': 'Single player'}, {'id': 2,...",NaN,70.000000,"[{'id': 1, 'name': 'Action'}]","[{'id': 4, 'name': 'Side view'}]",0.000000,1.0,NaN,NaN,NaN
9,105620,"[{'id': 1, 'name': 'Single player'}]",NaN,70.000000,"[{'id': 1, 'name': 'Action'}]","[{'id': 3, 'name': 'Bird view / Isometric'}]",NaN,NaN,NaN,NaN,NaN
10,131944,"[{'id': 1, 'name': 'Single player'}]",NaN,NaN,"[{'id': 38, 'name': 'Open world'}]","[{'id': 1, 'name': 'First person'}]",NaN,NaN,"[{'id': 13, 'name': 'Unity'}]",NaN,NaN
11,51411,"[{'id': 1, 'name': 'Single player'}, {'id': 2,...",NaN,NaN,"[{'id': 1, 'name': 'Action'}, {'id': 18, 'name...","[{'id': 1, 'name': 'First person'}, {'id': 7, ...",71.333333,3.0,NaN,NaN,NaN
12,122479,"[{'id': 1, 'name': 'Single player'}]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,108553,NaN,NaN,NaN,"[{'id': 17, 'name': 'Fantasy'}]",NaN,NaN,NaN,NaN,"In Cookie Wars, the Cookies had just found the...",NaN
14,96402,"[{'id': 1, 'name': 'Single player'}, {'id': 2,...",NaN,NaN,"[{'id': 18, 'name': 'Science fiction'}, {'id':...",NaN,NaN,NaN,NaN,"Grab your bolter, board the Thunderhawk… and p...",[6]
15,99131,"[{'id': 1, 'name': 'Single player'}]",NaN,70.000000,"[{'id': 1, 'name': 'Action'}, {'id': 27, 'name...","[{'id': 4, 'name': 'Side view'}]",80.000000,1.0,"[{'id': 420, 'name': 'Stencyl'}]",Enter the world of Rising Dusk. A land permane...,NaN
16,69344,"[{'id': 1, 'name': 'Single player'}]",NaN,NaN,"[{'id': 31, 'name': 'Drama'}, {'id': 44, 'name...","[{'id': 5, 'name': 'Text'}]",NaN,NaN,NaN,NaN,NaN
17,146288,"[{'id': 1, 'name': 'Single player'}]",NaN,NaN,"[{'id': 1, 'name': 'Action'}, {'id': 18, 'name...","[{'id': 3, 'name': 'Bird view / Isometric'}, {...",NaN,NaN,NaN,NaN,"[77, 3456]"
18,54898,"[{'id': 1, 'name': 'Single player'}, {'id': 2,...",NaN,NaN,"[{'id': 1, 'name': 'Action'}, {'id': 17, 'name...","[{'id': 2, 'name': 'Third person'}]",NaN,NaN,"[{'id': 439, 'name': 'Unreal Engine 4'}]",NaN,[875]
19,104391,"[{'id': 1, 'name': 'Single player'}]",NaN,70.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
pd.DataFrame(list_sons)

,id,aggregated_rating,aggregated_rating_count,game_engines,game_modes,player_perspectives,multiplayer_modes,themes,rating,franchise,franchises,storyline
0,108306,NaN,NaN,None,Single player,None,None,None,NaN,None,None,None
1,136820,NaN,NaN,None,None,Third person,None,None,NaN,None,None,None
2,79996,70.000000,1.0,None,Single player,Bird view / Isometric,None,None,79.843641,None,None,None
3,109029,NaN,NaN,None,Multiplayer,Third person,None,Fantasy,21.173172,None,None,None
4,132184,NaN,NaN,None,Single player,None,None,None,NaN,None,None,None
5,221449,NaN,NaN,RPG Maker,Single player,Bird view / Isometric,None,Mystery,NaN,None,None,None
6,105011,NaN,NaN,None,Single player,First person,None,Open world,40.000000,None,None,None
7,104866,0.000000,1.0,None,Co-operative,Side view,None,Action,70.000000,None,None,None
8,105620,NaN,NaN,None,Single player,Bird view / Isometric,None,Action,70.000000,None,None,None
9,131944,NaN,NaN,Unity,Single player,First person,None,Open world,NaN,None,None,None
10,51411,71.333333,3.0,None,Co-operative,Virtual Reality,None,Science fiction,NaN,None,None,None
11,122479,NaN,NaN,None,Single player,None,None,None,NaN,None,None,None
12,108553,NaN,NaN,None,None,None,None,Fantasy,NaN,None,None,"In Cookie Wars, the Cookies had just found the..."
13,99131,80.000000,1.0,Stencyl,Single player,Side view,None,Comedy,70.000000,None,None,Enter the world of Rising Dusk. A land permane...
14,69344,NaN,NaN,None,Single player,Text,None,Romance,NaN,None,None,None
15,104391,NaN,NaN,None,Single player,None,None,None,70.000000,None,None,None