In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MultiLabelBinarizer
from datetime import datetime
from sklearn.preprocessing import FunctionTransformer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import MinMaxScaler

from sklearn.pipeline import make_pipeline
from sklearn.pipeline import make_union
from sklearn.compose import make_column_transformer

import sys
sys.path.append("/home/kieran/code/Ant-mel/legendary_game_recs/")

from preprocessing.preprocess_1_cleaning import *
from preprocessing.preprocess_2_features import *
from preprocessing.pipeline_the_unification import *

In [2]:
raw_data = pd.read_csv("../raw_data/reference_csv_v1.csv", low_memory=False)
topic_data = pd.read_csv("../raw_data/topics_v2.csv", low_memory=False)

In [3]:
reference_data = make_reference_df_full_csv(raw_data)

In [4]:
topic_data

       0  1  2  3  4  5  6  7  8  9
0      1  0  0  0  0  0  0  0  0  0
1      0  1  0  0  0  0  0  0  0  0
2      0  0  1  0  0  0  0  0  0  0
3      0  0  0  0  0  1  0  0  0  0
4      0  0  0  0  1  0  0  0  0  0
...   .. .. .. .. .. .. .. .. .. ..
36845  0  0  0  0  0  0  0  0  0  1
36846  0  0  0  0  0  0  0  0  0  1
36847  0  0  1  0  0  0  0  0  0  0
36848  0  0  1  0  0  0  0  0  0  0
36849  0  1  0  0  0  0  0  0  0  0

[36850 rows x 10 columns]

In [5]:
model_data = make_model_df(reference_data,topic_data)

In [6]:
X_train, y_train = make_training_data_yeo(model_data)

In [7]:
X_train[20]

0        1.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
36845    0.0
36846    0.0
36847    0.0
36848    0.0
36849    0.0
Name: 20, Length: 36850, dtype: float64

In [8]:
y_train

0        2.2
1        3.3
2        2.4
3        4.5
4        2.1
        ...
36845    3.8
36846    2.7
36847    2.2
36848    2.0
36849    3.7
Name: 6, Length: 36850, dtype: float64

# Model and Finetuning

In [9]:
# Import the necessary libraries
from sklearn.inspection import permutation_importance
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier  # Import KNeighborsClassifier or KNeighborsRegressor as needed

# Fit a KNN model to your data
knn_model = KNeighborsRegressor(n_neighbors=11).fit(X_train, y_train)  # You can adjust the number of neighbors (k) as needed
# X and y are your feature matrix and target variable

In [ ]:
# Perform permutation importance analysis
permutation_score = permutation_importance(knn_model, X_train_scaled, y_train, n_repeats=10)

In [ ]:
# Create a DataFrame to store the results
importance_df = pd.DataFrame(np.vstack((X_train.columns, permutation_score.importances_mean)).T)
importance_df.columns = ['feature', 'score_decrease']

# Sort the DataFrame by feature importance in descending order
importance_df = importance_df.sort_values(by='score_decrease', ascending=False)

In [ ]:
importance_df

# Prediction

In [10]:
reference_data[reference_data['title'] == "The Legend of Zelda: Breath of the Wild"]

,title,release_date,plays,playing,backlogs,wishlist,developers,avg_review,genres,platforms,...,Shooter,Strategy,Platform,Arcade,Sport,gen_1,gen_2,gen_3,link,game_id
11707,The Legend of Zelda: Breath of the Wild,2017-03-03,42000,3500,6600,3400,"[Nintendo EPD Production Group No. 3, Nintendo]",4.4,"[Adventure, Puzzle, RPG]","[Wii U, Nintendo Switch]",...,0,0,0,0,0,0,0,1,/games/the-legend-of-zelda-breath-of-the-wild/,7346.0

In [11]:
reference_data[reference_data['title'] == "The Sims 4"]

,title,release_date,plays,playing,backlogs,wishlist,developers,avg_review,genres,platforms,...,Shooter,Strategy,Platform,Arcade,Sport,gen_1,gen_2,gen_3,link,game_id
16013,The Sims 4,2014-09-02,12000,640,1000,136,"[Electronic Arts, The Sims Studio]",3.1,"[RPG, Simulator]","[Windows PC, Mac, PlayStation 4, Xbox One, Pla...",...,0,0,0,0,0,0,0,1,/games/the-sims-4/,3212.0

In [12]:
reference_data[reference_data['title'] == "PokÃ©mon Go"]

,title,release_date,plays,playing,backlogs,wishlist,developers,avg_review,genres,platforms,...,Shooter,Strategy,Platform,Arcade,Sport,gen_1,gen_2,gen_3,link,game_id
12941,PokÃ©mon Go,2016-07-06,17000,746,267,24,"[The PokÃ©mon Company, Niantic Labs]",2.7,"[RPG, Simulator]","[Android, iOS]",...,0,0,0,0,0,0,0,1,/games/pokemon-go/,12515.0

In [13]:
reference_data[reference_data['title'] == "Tetris"]

,title,release_date,plays,playing,backlogs,wishlist,developers,avg_review,genres,platforms,...,Shooter,Strategy,Platform,Arcade,Sport,gen_1,gen_2,gen_3,link,game_id
32762,Tetris,1994-12-31,17,0,0,1,[Nokia],2.5,[Strategy],[Mobile],...,0,1,0,0,0,1,0,0,/games/tetris--27/,133912.0
36268,Tetris,1984-06-06,112,0,20,12,[Alexey Pajitnov],4.1,"[Arcade, Puzzle]",[Legacy Computer],...,0,0,0,1,0,1,0,0,/games/tetris--4/,130749.0

In [17]:
tetris_array = X_train[36268:36269]

In [18]:
sims4_array = X_train[16013:16014]

In [19]:
pokemongo_array = X_train[12941:12942]

In [26]:
zelda_array = X_train[11707:11708]

In [ ]:
 array_inputs = np.concatenate((border_array, zelda_array))

In [27]:
ind_list = list(knn_model.kneighbors(zelda_array,n_neighbors=5000)[1][0])

In [28]:
output_df = reference_data.iloc[ind_list, :]

In [30]:
output_df.columns

Index(['title', 'release_date', 'plays', 'playing', 'backlogs', 'wishlist',
       'developers', 'avg_review', 'genres', 'platforms', 'description',
       'total_reviews', 'total_lists', 'main', 'ratings_zero_five',
       'ratings_one_zero', 'ratings_one_five', 'ratings_two_zero',
       'ratings_two_five', 'ratings_three_zero', 'ratings_three_five',
       'ratings_four_zero', 'ratings_four_five', 'ratings_five_zero', 'image',
       'url', 'Adventure', 'Indie', 'RPG', 'Simulator', 'Puzzle', 'Shooter',
       'Strategy', 'Platform', 'Arcade', 'Sport', 'gen_1', 'gen_2', 'gen_3',
       'link', 'game_id'],
      dtype='object')

In [ ]:
year_limit = '1997'

In [ ]:
rslt_df = output_df[output_df['release_date'] <= '1997-01-01']

In [ ]:
rslt_df.head(20)